header {
  display: inline;
}

nav {
  max-width: 70%;
}

.navbar {
  list-style-type: none;
  display: inline;
}
.navbutton {
  display: inline;
  margin-left: 20px;
  border: 3px grey groove;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #e6e6e6
}

.login {
  display: inline;
  float: right;
}
