<h1>Project name</h1>

<li>project needs description</li>
<li>any additional files (probs not in initial release)</li>

<p>then down below that area:</p>

<li>comments and nested replies</li>
<li>solutions in order of submission (reverse order?)</li>
<li>comments on solutions</li>

<p> when a solution is accepted, needs to be marked, and project marked closed (but this page is still accessible via students/nps).</p>

<!-- When logged in, students have the ability to comment on any project; nonprofits can only comment on their own projects.  Ditto solutions: students might want to comment on each others' work in order to collaborate, but only the nonprofit that posted the project can comment on the solutions. (But they can comment on any/all of those solutions, obviously.) -->

<%= link_to 'Home', root_path %>
