<% if @student.email.nil? %>
 <%= render 'edit' %>
<% else %>
<h1>Hello <%= @student.first_name %></h1>
<% end %>

<li>Need to edit your info? link here to editability</li>
<li>Active projects</li>
<li>Recent solutions</li>
<li>Active/recent comments</li>

<p> Side of grid contains profile info.</p>
<p> We'll need a version visible to the student herself, and one visible to not-the-current-user that just has profile info and recent solutions (no active projects, no comments, visual emphasis on profile info / portfolio aspects).</p>