<%= link_to 'back to home via icon', root_path %>
<li>some type of top nav</li>

<% if @non_profit.name.nil? %>
 <h1>Example Non-Profit</h1>
<% else %>
<h1><%= @non_profit.name %></h1>
<% end %>

<li>description, location, tag, logo, etc in pretty grid design</li>

<li>Need to edit your info? link here to editability</li>
<li>Active projects</li>
<li>Recent projects</li>
<li>Active/recent comments</li>

<p>Like with students, different view for nonprofit themself and other users. For logged-in np, keep profile info in grid sidebar and functionality (projects, comments) in main; for others, emphasize profile/description info, and only active projects/recent projects below.</p>